
{% load static %}
<html>
  <head>
    <title> Menoappi </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/etusivu.css' %}">
  </head>
  <body>
      <div>
        <h1><a href=""> Tervetuloa Menoappiin! </a></h1>
      </div>
      <div>

      <h2><a href=""> Tapahtumat: </a></h2>
      {% for tapahtuma in tapahtumalista %}
        <div>
            <li> <strong> {{ tapahtuma.title }} </strong>  </li>
        </div>
      {% endfor %}

      <a href="/menoappi/">Takaisin hakuun</a>

      <p><a href="{% url 'logout' %}">Kirjaudu ulos</a></p>
  </body>
</html>
